<div class="d-flex flex-column align-items-center">
    <div class="chatCont">
        <div class="message">
            <p style="font-size: 14px;">Hello, this symptom analyzer will help suggest what disease you may be experiencing</p>
        </div>
        <div class="message message2">
            <p style="font-size: 14px;">{{symptomName}}</p>
        </div>
        <div *ngFor="let currentQuestion of currentQuestions">
            <div class="message">
                <p style="font-size: 14px;">{{currentQuestion.question}}</p>
                <div class="optionsCont">
                    <div *ngFor="let each of currentQuestion.options" class="optionsCont">
                        <button class="optionBtn" (click)="onClick(each.text)" [disabled]="each.isDisable" style="font-size: 12px; border-radius: 10px;">{{each.text}}</button>
                    </div>
                </div>
            </div>
            <p class="message message2" [class.d-none]="!currentQuestion.options[0].isDisable" [class.d-block]="currentQuestion.options[0].isDisable">{{currentQuestion.answer}}</p>
        </div>
        <button class="btn btn-primary backBtn" (click)="onBack()">Back</button>
    </div>
</div>