
.chatCont{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 465px;
    width: 400px;
    background-color: rgb(250, 235, 215);
    border-width: 1px;
    border-style: solid;
    border-color: white;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 50px;    
    overflow-y: auto;
    scrollbar-gutter:stable;
}
@media only screen and (max-width: 480px) {
    .chatCont{
        width: 300px;
    }
}
.message {
    background-color: rgb(255, 255, 255);
    text-align: center;
    border-radius: 20px;
    margin-bottom: 10px;
    border-bottom-left-radius:0 ;
    width: fit-content;
    padding: 10px;
    padding-bottom: 5px;
    display: flex;
    flex-direction: column;
}
.optionBtn{
    border-width: 0;
    background-color: rgb(197, 225, 249);
    padding: 5px;
    margin: 5px;
}
.multiOptionBtn{
    border-width: 0;
    padding: 5px;
    margin: 5px;
}
.message2{
    text-align: center;
    align-self: flex-end;
    margin-left: auto;
    border-radius: 20px;
    border-bottom-right-radius:0 ;
    background-color: rgb(164, 210, 250);
    width: fit-content;
    margin-bottom: 10px;
}
.inputCont{
    justify-self: flex-end;
    display: flex;
    align-items: center;
}
.input{
    width: 75%;
    height: 35px;
}
.button {
    height: 35px;
}
.searchResults {
    background-color: aliceblue;
    padding: 0.1px;
    width: 75%;
    height: auto;
    max-height: 220px;
    margin: 0px;
}
.optionsCont{
    display: flex;
    flex-direction: row;
}
.multiAnsCont{
    display: flex;
    flex-direction: row;
    margin-left: auto;
    align-self: flex-end;
    width: fit-content;
}
.multiSelectOptionsCont{
    display: flex;
    flex-direction: column;
}
.submitBtn{
    border-width: 0;
    width: 70px;
    padding: 5px;
    margin: 5px;
}
.backBtn{
    justify-self: flex-end;
    width: 80px;
    margin-top: auto;
}
.isSelected{
    background-color: rgb(59, 160, 248);
    color: white;
}
.multiOptionsCont{
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: rgb(188, 222, 252);
}
.btnCont{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: auto;
}
.reportBtn{
    background-color: orangered;
    color: white;
    justify-self: flex-end;
    width: 100px;
    font-size: 14px;
    margin-top: auto;
}