.bg {
    background-color: rgb(34,38,84);
    background-size: cover;
    height: 100vh;
}
.logo {
    height: 100px;
    width: 250px;
}
@media screen and (max-width: 650px) {
    .logo{
        height: 80px;
        width: 180px;
        margin-bottom: 20px;
    }
}
.image{
    height: 100px;
    width: 250px;
}
.card1{
   
    height: 450px;
    width: auto;
    margin-bottom: 10px;
   
}
.card2{
    background-color: antiquewhite;
    border-width: 1px;
    border-style: solid;
    border-color: white;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 5px 3px 3px 3px lightblue;
}
.is-invalid{
    border: 1px solid rgb(237, 45, 24);
}