.bg {
    background-color: rgb(34,38,84);
    background-size: cover;
    height: 100vh;
}
.logo {
    height: 100px;
    width: 250px;
}
@media screen and (max-width: 480px) {
    .logo{
        height: 80px;
        width: 180px;
        margin-bottom: 20px;
    }
}